.title-content {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 0px;
    background-color: #E8E8E8;
    border-radius: 15px 100px 100px 15px;
    margin-bottom: 50px;

    .title-item {
        color: #E08D33;
        padding: 13px;
        font-size: 10px;
        text-align: left;
        span {
            padding: 0px;
            font-weight: 700;
            font-size: 20px;
        }
    }

    .icon-item {
        border-radius: 100px;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 5px;
        background-color: #1C4177;
        svg {
            font-size: 35px;
            color: white;
            padding: 6px;
            font-size: 40px;
        }
    }
}